
// Location

.Explore {
  font-family: $font-txt;
  background: $background;
    &__location {
      height: 50px;
      @include center;
      box-shadow: inset 0px 11px 8px -10px rgb(148, 148, 148);
      background: rgb(228, 228, 228);

      button {
        box-shadow: none;
        font-size: 16px;
        margin-right: 25px;
        transition: color 0.8s;
  
        &:hover,
        &:active {
          color: $secondary;
        }

        .fas {
          margin-right: 15px;
        }
      }
    }
    &__infos {
      @include column_center;
      padding: 38px;
      text-align: center;

      h2 { 
        font-size: 24px;
        font-weight: bold;
      }

      span{
        margin: 14px 0;
        font-size: 14px;
      }

      &--btn {
        margin: 14px;
        font-size: 17px;
        color: $background;
        padding: 18px 22px;
        border-radius: 26px;
        background: linear-gradient($secondary 0%, $primary 100%);
        transition: all 0.5s ease-out;

        &:hover,
        &:active {
          color: black;
          background: $secondary;
        }
      }
    }
}

// Steps

.steps {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;

  h2 {
    font-family: $font-txt;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 30px;
  }

  i {
    color: #747474;
    margin: 0 25px 0 35px;
  }

  &__function {
    @include column_center;
  }

  &__btn {
    height: 75px;
    min-width: 300px;
    width: 100%;
    max-width: 500px;
    background: $background;
    border-radius: 20px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    text-align: left;
    transition: background-color 0.4s box-shadow 0.4s;

    &:hover,
    &:active {
      background-color: #ddc7f8;

      i {
        color: $primary;
      }
    }
  }

  &__number {
    @include center;

    background: $primary;
    position: absolute;
    left: -13px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    color: #fff;
    font-size: 0.9em;
  }
}