button {
    background: none;
    border: none;
    box-shadow: 0 5px 10px rgb(192, 192, 192);
  
    &:hover,
    &:active {
        box-shadow: none;
        cursor: pointer;
    }
}
.Explore__infos--btn {
    box-shadow: none;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.8s;

    &:hover,
    &:active {
      color: $secondary;
    }

    .fas {
      margin-right: 15px;
    }
  }

.coeur {
    font-size: 25px;
    margin-top: 5px;
    color: $background;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
}
.coeur:hover {
    background: linear-gradient(to bottom left,$primary,$secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
}