// COLORS
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$section-background-color: #f2f2f2;

// POLICE
$font-title: 'Shrikhand', sans-serif;
$font-content: 'Roboto', sans-serif;